<<<<<<< HEAD
.name {
=======
name {
>>>>>>> 795f16e45a0a22196a808c878270db13ab589036
    height: 100px;
    width: 100px;
    background-color: red;
    position: relative;
    float: left;
}

<<<<<<< HEAD
.test {
=======
test {
>>>>>>> 795f16e45a0a22196a808c878270db13ab589036
    border: 5px;
    padding: 30px;
    background-color: black;
    height: 150px;
    width: 100%;
}

<<<<<<< HEAD
.Selfie {
    height: 400px;
    width: 700px
}

.clearfix::after {
    content: "";
    display: block;
    clear: both;
  }
=======
Selfie {
    height: 400px;
    width: 700px
}
>>>>>>> 795f16e45a0a22196a808c878270db13ab589036
